@charset 'utf-8';


.navi{
    font-family: "Helvetica Neue";
    font-size: 2rem;
    background-color: rgb(114, 200, 240);
    color: white;
    text-align: center;
    padding: 20px;
}

#member{
    height: 50vh;
}

.btns-flex{
    display: flex;
    flex-wrap: wrap;
}

button.square{
    width : 10vw;
    height: 8vw; 
    min-width: 7em;
    min-height: 5.6em;
}

.alert {
    text-align:center;
 }

.next-question{
    padding-top: 2px;
}

@media screen and (max-width: 480px){
    .navi{
        font-size: 1.5rem;
    }

    #member{
        width: 35vh;
        height: auto;
    }

    button.square{
        font-size: 1.5rem;
        width : 40vw;
        height: 20vw; 
        min-width: auto;
        min-height: auto;
    }
}