@charset 'utf-8';


.navi{
    font-family: "Helvetica Neue";
    font-size: 2rem;
    background-color: rgb(114, 200, 240);
    color: white;
    text-align: center;
    padding: 20px;
}

#member{
    height: 50vh;
}

.square{
    width : 8vw;
    height: 8vw; 
}

.alert {
    text-align:center;
 }

.next-question{
    padding-top: 2px;
}

@media screen and (max-width: 480px){
    .navi{
        font-size: x-large;
    }

    #member{
        width: 80vw;
        height: auto;
    }

    .square{
        width : 20vw;
        height: 20vw; 
    }
}